@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-primary: #4f39f6;
  --color-primary-focus: #9514fa;
}

.primary-gradient {
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-focus)
  );
}
